@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
body {
  background: #0f1424;
  margin: 5em 2em;
  font-family: "Rubik";
  text-align: center;
}

.report-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #1c1f4a;
  border-radius: 1em;
}

.report-section .container .report-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 1em;
  background: #5847eb;
  border-radius: 1em;
  height: 5em;
}

.report-section .container .report-info .report-image img {
  width: 60px;
  border: solid 3px white;
  border-radius: 50%;
}

.report-section .container .report-info .report-details {
  text-align: left;
}

.report-section .container .report-info .report-details p {
  font-size: 12px;
  font-weight: 300;
  color: #bdc1ff;
}

.report-section .container .report-info .report-details h1 {
  font-size: 15px;
  font-weight: 400;
  color: white;
}

.report-section .container .report-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5em 2.5em;
}

.report-section .container .report-filter button {
  background: none;
  border: none;
  color: #bdc1ff;
  font-weight: 300;
}

.report-section .container .report-filter button:hover {
  color: white;
  cursor: pointer;
}

.report-section .container .report-filter .selected {
  color: white;
}

.element {
  border-radius: 1em;
  margin-top: 2em;
}

.element-header {
  height: 3em;
  overflow: hidden;
  text-align: right;
  padding: 0 1em;
}

.element-body {
  background: #1c1f4a;
  border-radius: 1em;
  color: white;
}

.element-body:hover {
  background: #6f76c8;
  cursor: pointer;
}

.element-body .row1, .element-body .row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2em;
}

.element-body h1 {
  font-size: 18px;
  font-weight: 500;
}

.element-body h2 {
  font-weight: 300;
  font-size: 27px;
}

.element-body p {
  font-weight: 300;
  color: #bdc1ff;
}

.element-body img:hover {
  cursor: pointer;
  color: white;
}

.work-element {
  background: #ff8c66;
}

.play-element {
  background: #56c2e6;
}

.study-element {
  background: #ff5c7c;
}

.exercise-element {
  background: #4acf81;
}

.social-element {
  background: #7536d3;
}

.self-care-element {
  background: #f1c65b;
}

@media only screen and (min-width: 1024px) {
  body {
    margin: 12em 7em;
  }
  .main-container {
    display: -ms-grid;
    display: grid;
    -webkit-column-gap: 1em;
            column-gap: 1em;
    row-gap: 1em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 15em 15em 15em 15em;
        grid-template-columns: 15em 15em 15em 15em;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-container .report-section {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
  .main-container .report-section .container .report-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 20em;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 2em;
  }
  .main-container .report-section .container .report-info .report-image img {
    width: 80px;
  }
  .main-container .report-section .container .report-info .report-details {
    padding-bottom: 2em;
  }
  .main-container .report-section .container .report-info .report-details p {
    font-size: 15px;
  }
  .main-container .report-section .container .report-info .report-details h1 {
    font-size: 30px;
  }
  .main-container .report-section .container .report-filter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 6em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1.5em 1.5em;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main-container .report-section .container .report-filter button {
    font-size: 15px;
  }
  .main-container .element {
    margin-top: 0;
  }
  .main-container .element-body {
    height: 12em;
  }
  .main-container .element-body .row2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 10em;
  }
  .main-container .element-body .row2 .element-time {
    min-height: 0;
  }
  .main-container .element-body .row2 .element-time h2 {
    font-size: 50px;
    margin-top: 0.3em;
  }
  .main-container .element-body .row2 .element-stats {
    min-height: 0;
  }
  .main-container .element-body .row2 .element-stats p {
    padding-bottom: 5em;
  }
}
/*# sourceMappingURL=main.css.map */