@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

body {
    background: hsl(226, 43%, 10%);
    margin: 0;
    font-family: "Rubik";
    text-align: center;
}

.main-container {
    margin: 5em 2em;
    .report-section {
        .container {
            display: flex;
            flex-direction: column;
            background: hsl(235, 46%, 20%);
            border-radius: 1em;
            .report-info {
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 1em 1em;
                background: hsl(246, 80%, 60%);
                border-radius: 1em;
                height: 5em;
                .report-image {
                    img {
                        width: 60px;
                        border: solid 3px white;
                        border-radius: 50%;
                    }
                }
                .report-details {
                    text-align: left;
                    p {
                        font-size: 13px;
                        font-weight: 300;
                        color: hsl(236, 100%, 87%);
                    }
                    h1 {
                        font-size: 20px;
                        font-weight: 300;
                        color: white;
                    }
                }
            }
            .report-filter {
                display: flex;
                justify-content: space-between;
                padding: 1.5em 2.5em;
                button {
                    background: none;
                    border: none;
                    color: hsl(236, 100%, 87%);
                    font-weight: 300;
                    font-size: 15px;
                    &:hover {
                        color: white;
                        cursor: pointer;
                    }
                }
                .selected {
                    color: white;
                }
            }
        }
    }
    
    .element {
        border-radius: 1em;
        margin-top: 2em;
        h1, h2, p {
            margin: 0;
        }
    }
    .element-header {
        height: 2em;
        overflow: hidden;
        text-align: right;
        padding: 0 1em .5em 1em;
        img {
            position: relative;
            bottom: .5em;
        }
    }
    .element-body {
        background: hsl(235, 46%, 20%);
        border-radius: 1em;
        color: white;
        padding: 1em 2em;
        &:hover {
            background: hsl(235, 45%, 61%);
            cursor: pointer;
        }
        .row1, .row2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .5em 0;
        }
        h1 {
            font-size: 18px;
            font-weight: 500;
        }
        h2 {
            font-weight: 300;
            font-size: 27px;
        }
        p {
            font-weight: 300;
            color: hsl(236, 100%, 87%);
        }
        img {
            padding-bottom: .1em;
        }
    }
    .work-element {
        background: hsl(15, 100%, 70%);
    }
    .play-element {
        background: hsl(195, 74%, 62%);
    }
    .study-element {
        background: hsl(348, 100%, 68%);
    }
    .exercise-element {
        background: hsl(145, 58%, 55%);
    }
    .social-element {
        background: hsl(264, 64%, 52%);
    }
    .self-care-element {
        background: hsl(43, 84%, 65%);
    }
}

@media only screen and (min-width: 768px) {
    .main-container {
        display: grid;
        column-gap: 1.5em;
        row-gap: 1.5em;
        align-items: center;
        grid-template-columns: auto auto;
        justify-content: center;
        .report-section {
            grid-row: 1 / 3;
            .container {
                width: 15em;
                .report-info {
                    flex-direction: column;
                    height: 18em;
                    justify-content: space-around;
                    align-items: flex-start;
                    padding-left: 2em;
                    .report-image {
                        img {
                            width: 80px;
                        }
                    }
                    .report-details {
                        padding-bottom: 2em;
                        p {
                            font-size: 15px;
                        }
                        h1 {
                            font-size: 30px;
                        }
                    }
                }
                .report-filter {
                    flex-direction: column;
                    height: 6em;
                    justify-content: space-between;
                    padding: 1.5em 1.5em;
                    align-items: flex-start;
                    button {
                        font-size: 15px;
                    }
                }
            }
        }
        .element {
            margin: 0;
            width: 15em;
        }
        .element-body {
            .row2 {
                flex-direction: column;
                align-items: flex-start;
                .element-time {
                    h2 {
                        font-size: 50px;
                    }
                }
                .element-stats {
                    p {
                        margin: .5em 0;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .main-container {
        margin: 10em 5em;
        grid-template-columns: auto auto auto;
    }
}

@media only screen and (min-width: 1440px) {
    .main-container {
        margin: 12em 7em;
        grid-template-columns: auto auto auto auto;
    }
}