@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
body {
  background: #0f1424;
  margin: 0;
  font-family: "Rubik";
  text-align: center;
}

.dashboard-main {
  margin: 5em 2em;
}

.dashboard-main .loading {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 16px solid #1c1f4a;
  border-top: 16px solid #5847eb;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.dashboard-main .error-prompt {
  text-align: center;
}

.dashboard-main .error-prompt h1 {
  color: #ff5c7c;
}

.dashboard-main .select-user {
  margin-bottom: 2em;
}

.dashboard-main .select-user .select-user-dropdown {
  text-align: center;
  background: #5847eb;
  color: white;
  border: none;
  width: 15em;
  height: 3em;
  font-size: 15px;
}

.dashboard-main .select-user .select-user-dropdown:hover {
  cursor: pointer;
}

.dashboard-main .main-container .report-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #1c1f4a;
  border-radius: 1em;
}

.dashboard-main .main-container .report-section .container .report-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 1em;
  background: #5847eb;
  border-radius: 1em;
  height: 5em;
}

.dashboard-main .main-container .report-section .container .report-info .report-image img {
  width: 60px;
  border: solid 3px white;
  border-radius: 50%;
}

.dashboard-main .main-container .report-section .container .report-info .report-details {
  text-align: left;
}

.dashboard-main .main-container .report-section .container .report-info .report-details p {
  font-size: 13px;
  font-weight: 300;
  color: #bdc1ff;
}

.dashboard-main .main-container .report-section .container .report-info .report-details h1 {
  font-size: 20px;
  font-weight: 300;
  color: white;
}

.dashboard-main .main-container .report-section .container .report-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5em 2.5em;
}

.dashboard-main .main-container .report-section .container .report-filter button {
  background: none;
  border: none;
  color: #bdc1ff;
  font-weight: 300;
  font-size: 15px;
}

.dashboard-main .main-container .report-section .container .report-filter button:hover {
  color: white;
  cursor: pointer;
}

.dashboard-main .main-container .report-section .container .report-filter .selected {
  color: white;
}

.dashboard-main .main-container .element {
  border-radius: 1em;
  margin-top: 2em;
}

.dashboard-main .main-container .element h1, .dashboard-main .main-container .element h2, .dashboard-main .main-container .element p {
  margin: 0;
}

.dashboard-main .main-container .element-header {
  height: 2em;
  overflow: hidden;
  text-align: right;
  padding: 0 1em .5em 1em;
}

.dashboard-main .main-container .element-header img {
  position: relative;
  bottom: .5em;
}

.dashboard-main .main-container .element-body {
  background: #1c1f4a;
  border-radius: 1em;
  color: white;
  padding: 1em 2em;
}

.dashboard-main .main-container .element-body:hover {
  background: #6f76c8;
  cursor: pointer;
}

.dashboard-main .main-container .element-body .row1, .dashboard-main .main-container .element-body .row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5em 0;
}

.dashboard-main .main-container .element-body h1 {
  font-size: 18px;
  font-weight: 500;
}

.dashboard-main .main-container .element-body h2 {
  font-weight: 300;
  font-size: 27px;
}

.dashboard-main .main-container .element-body p {
  font-weight: 300;
  color: #bdc1ff;
}

.dashboard-main .main-container .element-body img {
  padding-bottom: .1em;
}

.dashboard-main .main-container .work-element {
  background: #ff8c66;
}

.dashboard-main .main-container .play-element {
  background: #56c2e6;
}

.dashboard-main .main-container .study-element {
  background: #ff5c7c;
}

.dashboard-main .main-container .exercise-element {
  background: #4acf81;
}

.dashboard-main .main-container .social-element {
  background: #7536d3;
}

.dashboard-main .main-container .self-care-element {
  background: #f1c65b;
}

@media only screen and (min-width: 768px) {
  .dashboard-main .main-container {
    display: -ms-grid;
    display: grid;
    -webkit-column-gap: 1.5em;
            column-gap: 1.5em;
    row-gap: 1.5em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .dashboard-main .main-container .report-section {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
  .dashboard-main .main-container .report-section .container {
    width: 15em;
  }
  .dashboard-main .main-container .report-section .container .report-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 18em;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 2em;
  }
  .dashboard-main .main-container .report-section .container .report-info .report-image img {
    width: 80px;
  }
  .dashboard-main .main-container .report-section .container .report-info .report-details {
    padding-bottom: 2em;
  }
  .dashboard-main .main-container .report-section .container .report-info .report-details p {
    font-size: 15px;
  }
  .dashboard-main .main-container .report-section .container .report-info .report-details h1 {
    font-size: 30px;
  }
  .dashboard-main .main-container .report-section .container .report-filter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 6em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1.5em 1.5em;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .dashboard-main .main-container .report-section .container .report-filter button {
    font-size: 15px;
  }
  .dashboard-main .main-container .element {
    margin: 0;
    width: 15em;
  }
  .dashboard-main .main-container .element-body .row2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .dashboard-main .main-container .element-body .row2 .element-time h2 {
    font-size: 50px;
  }
  .dashboard-main .main-container .element-body .row2 .element-stats p {
    margin: .5em 0;
  }
}

@media only screen and (min-width: 1024px) {
  .dashboard-main {
    margin: 10em 5em;
  }
  .dashboard-main .main-container {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
}

@media only screen and (min-width: 1440px) {
  .dashboard-main {
    margin: 12em 7em;
  }
  .dashboard-main .main-container {
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
  }
}
/*# sourceMappingURL=main.css.map */